name: CodeStream Strict CI

on: [push, pull_request]

jobs:
  Test-Logic:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      - name: Install Dependencies
        run: npm install
        
      - name: Run Unit Tests (BẮT BUỘC PHẢI PASS)
        # Lệnh này nếu lỗi (Exit code khác 0) thì Pipeline PHẢI ĐỎ
        run: npm test 

  Security-Check:
    needs: Test-Logic
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Audit Security
        run: npm audit --audit-level=high
        UI-Acceptance-Test:
    needs: Quality-Gate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Install Dependencies
        run: npm install
      - name: Start Server in background
        run: npm start & npx wait-on http://localhost:3000 # Chờ server bật xong
      - name: Run Selenium Tests
        run: npm run test:ui
      - name: Upload Test Report
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: selenium-report
          path: mochawesome-report/